body {
    margin: 0
}

p {
    display: flex;
    justify-content: center;
    color: blue;
}

.headerContainer {
    background-image: url(../images/landscape-4k-bliss-windows-xp-wallpaper-preview.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    height: 700px;
    display: flex;
    flex-direction: column;
}

#folderContainer {
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
    margin: 10px;
    height: 100px;
}

.navButton {
    background-image: url(../images/image-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    text-align: center;
}

.navButton:hover {
    transform: scale(1.5);
}

.headerText {
    text-align: center;
    color: darkorchid;
    font-family: PT Sans;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    padding: 10px;
}

footer {
    display: flex;
    background-color: lightblue;
}